button{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    background-color: #ccc;
    border: 1px solid black;
}
label{
    font-family: 'Century Gothic', 'Futara' , 'San-serif';
    font-size: 14px;
}